@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    margin: 0px;
}

:root {
    --azul: #1A4FEE;
    --verde: #7DFDC7;
    --cinza: #F3F5F9;
}

body {
    background-image: url(../imagens/LandingPage-Mobile-a.png);
    background-size: contain;
    height: 100%;
}

a{
    text-decoration: none;
}

/* LOGO E MENU  */

header {
    display: inline-flex;
}

img#logo {
    height: 100%;
    margin-top: 40px;
    margin-left: 38px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -250px; /* Oculta o menu à esquerda */
    width: 250px;
    height: 100%;
    background-color: #33333362;
    transition: right 0.8s ease;
}

.sidebar.active {
    right: 0; /* Mostra o menu lateral ao ser ativado */
}

ul#menuf {
    list-style-type: none;
    padding: 0;
}

ul#menuf > li {
    padding: 10px 0;
}

ul li a {
    color: rgb(253, 252, 252);
    font-size: 16px;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    display: block;
}

ul li a:hover {
    background-color: #555;
}

#toggleMenu {
    position: absolute;
    left: 80vw;
    margin-top: 40px;
    border: none;
    background-color: #f3f5f954;
    padding: 5px;
    cursor: pointer;
    z-index: 999;
}

/* OLHA FÉRIAS - ARRAIÁ 2023 */

div#olha {
    width: 202px;
    margin-top: 40px;
    margin-left: 38px;
}

div#olha h1 {
    font-size: 44px;
    font-weight: 400;
    line-height: 50.6px;
    text-align: left;
}

div#olha span {
    color: var(--azul);
    font-size: 31px;
    font-weight: 700;
    line-height: 37.82px;
    text-align: left;
}

div#olha p {
    color: black;
    font-weight: 400;
    margin-top: 15px;
}

.reserve {   /* BOTÃO RESERVE AGORA */
    margin-top: 20px;
    width: 191.38px;
    height: 50.7px;
    border-radius: 100px;
    text-align: center;
    background-color: #7DFDC7;
    color: #1A4FEE;
    border: #7DFDC7;
    font-weight: bolder;
}

.arraia {     /* BOTÃO RESERVE ARRAIÁ */
    margin-top: 20px;
    width: 191.38px;
    height: 50.7px;
    border-radius: 100px;
    background-color: white;
    color: var(--azul);
    border: 4px solid var(--azul);
    font-weight: bolder;
    display: inline-flex;
    align-items: center;
}

.arraia>img {
    margin-left: 20%;
}

/* TUDO DE BOM */

.bom {
    text-align: center;
    margin-top: 150px;
}

.bom>p {
    font-size: 32.88px;
    font-weight: 600;
    line-height: 34.69px;
    letter-spacing: -0.02em;
    text-align: center;
}

.bom>p>span {
    font-size: 32.88px;
    font-weight: 800;
    line-height: 34.69px;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--azul);
}

/* SLIDES  */

.slider {
    position: relative;
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
}

.slides {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.slide {
    display: none;
    width: auto;
    /* Mantenha o tamanho original */
    max-width: 100%;
    /* Adapte ao contêiner */
}

.slide img.local {
    width: auto;
    /* Mantenha o tamanho original */
    max-width: 100%;
    /* Adapte ao contêiner */
    height: auto;
    /* Mantenha o tamanho original */
    vertical-align: middle;
    border-radius: 20px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.568);
}

.sli {
    width: 349px;
    height: 200px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.199);
    border-radius: 20px;
    background-color: white;
    padding: 10px;
}

.sli h2 {
    text-align: center;
    font-size: 13.21px;
    font-weight: 700;
    line-height: 16.1px;
    text-align: left;
}

.sli p {
    font-size: 12.01px;
    font-weight: 400;
    line-height: 14.53px;
    margin-left: 20px;
    text-align: justify;
}

.sli span {
    font-size: 9.02px;
    font-weight: 400;
    line-height: 10.91px;
    text-align: left;
    margin-left: 10px;
    color: #808080;
}

.sli img {
    border-radius: 100px;
    margin: 20px;
    width: auto;
    /* Mantenha o tamanho original */
    height: auto;
    /* Mantenha o tamanho original */
    max-width: 100%;
    /* Adapte ao contêiner */
    vertical-align: middle;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.158);
}


.active {
    display: block;
}

.slide h1 {
    text-align: center;
    color: var(--azul);
    font-weight: 900;
    font-size: 19px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.486);
    margin-top: -30px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    background-color: rgba(128, 128, 128, 0.11);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* FIM SLIDES  */

.reserve#centro {
    margin-left: 25%;
    margin-bottom: 50px;
    margin-top: 40px;
}

/* MAPA */

iframe {
    width: 100vw;
    padding-bottom: 100px;
}

/* SLIDES COMENTARIOS  */

div.comentarios {
    text-align: center;
    margin-top: 40px;
    width: 310px;
    margin: auto;
}

div.comentarios>span {
    color: var(--azul);
    font-size: 24px;
    font-weight: 800;
    line-height: 31.2px;
    letter-spacing: -0.02em;
}

div.comentarios>p {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.3px;
    text-align: center;
}

div#slider2 {
    padding-bottom: 100px;
}

/* SLIDES OFERTAS  */

div.slider#slider3 img {
    margin-left: 10%;
    padding: 20px 0px
}

.off {
    width: 258px;
    height: 606px;
    border-radius: 10px;
    padding-top: 10px;
    background-color: var(--cinza);
}

.off p, h2, img, li, h3{
    margin-left: 20px;
}

.off p#icons{
    color: black;
    border-radius: 100px;
    padding: 5px;
    margin-left: -10px;
}

.off>p#icons>img{
    padding-bottom: 0;
    box-shadow: 0 0 0;
    padding-right: 80px;
}

.off>p#icons>span{
    background-color: white;
    border-radius: 100px;
    padding: 7px;
    font-size: 9.22px;
    font-weight: 700;
    margin-left: 10px;
}

.off h2{
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
}

.off p{
    font-weight: 400;
    font-size: 9.22px;
    line-height: 15px;
}

.off h3{
    font-weight: 700;
    font-size: 27px;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.off li{
    list-style-type: none;
    margin-left: -20px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 1.5px;
}

.off li::before{
    content: url(../imagens/check-preto.png);
}


.off#azul li::before{
    content: url(../imagens/check.png);
}

.off>button{
    width: 140px;
    height: 40px;
    margin: 0 23%;
    
}

.off#azul {
    background-color: var(--azul);
    color: white;
}

/* PERGUNTAS */

div#perguntas {
    text-align: center;
    margin-top: 60px;
}

div#perguntas h1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: center;
}

div#perguntas>aside.pergunta {
    display: inline-flex;
    margin-top: 40px;
    width: 310px;
    height: 70px;
    align-items: center;
    border-radius: 7px;
    background-color: var(--cinza);
}

div#perguntas>aside.pergunta>h2 {
    display: inline-flex;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.92px;
    text-align: left;
    color: var(--azul);
    margin-left: 25px;
}

#texto-escondido0, #texto-escondido1, #texto-escondido2{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 300px;
    text-align: justify;
    margin: auto;
    display: none;
}

div#perguntas>aside.pergunta>img {
    margin-left: 50%;
}

div#perguntas>aside.pergunta>p {
    display: none;
}

/* RODAPÉ */

footer {
    background-color: var(--azul);
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 80px;
    text-align: center;
    color: white;
}

footer>img#village {
    margin-bottom: 20px;
}

footer>div#contato {
    border-bottom: 2px solid var(--verde);
    width: 272px;
    margin: auto;
    padding-bottom: 20px;
}

footer>div#contato>img {
    padding: 10px;
}

footer>div#email {
    margin-top: 30px;
    margin-bottom: 30px;
}

footer>div#email>input {
    border-radius: 30px;
    padding: 8px;
}

footer>div#email>input#email {
    width: 270px;
    border: 1px solid white;
}

footer>div#email>input#enviar {
    margin-left: -100px;
    background-color: var(--verde);
    border: 1px solid var(--verde);
    color: var(--azul);
    font-weight: bold;
    padding: 8px 30px;
}

footer>h1 {
    font-size: 20px;
    font-weight: 800;
    line-height: 21.76px;
    text-decoration: underline;
    padding-top: 50px;
    padding-bottom: 20px;
}

footer>p {
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
}

footer>p#cep {
    width: 280px;
    margin: auto;
    line-height: 20px;
}

footer > a{
    text-decoration: none;
    color: white;
}

footer > a > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
}

/* MEDIAS QUERYS */

@media (min-width: 698px) {
    *{
        font-size: 1.1rem;
    }
    div#olha {
        width: 300px;
        margin-top: 40px;
        margin-left: 38px;
    }
    .arraia>img {
        margin-left: 5%;
    }
    
}