@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    margin: 0px;

}


:root {
    --azul: #1A4FEE;
    --verde: #7DFDC7;
    --cinza: #F3F5F9;
}

body {
    background-image: url(../imagens/LandingPage-Mobile-a.png);
    background-size: contain;
}

header {
    display: inline-flex;
}

img#logo {
    height: 100%;
    margin-top: 40px;
    margin-left: 38px;
}

header>nav {
    margin-left: 100%;
    margin-top: 40px;
}

div#olha {
    width: 202px;
    margin-top: 40px;
    margin-left: 38px;
}

div#olha h1 {
    font-size: 44px;
    font-weight: 400;
    line-height: 50.6px;
    text-align: left;
}

div#olha span {
    color: var(--azul);
    font-size: 31px;
    font-weight: 700;
    line-height: 37.82px;
    text-align: left;
}

div#olha p {
    color: black;
    font-weight: 400;
    margin-top: 15px;
}

.reserve {
    margin-top: 20px;
    width: 191.38px;
    height: 50.7px;
    border-radius: 100px;
    text-align: center;
    background-color: #7DFDC7;
    color: #1A4FEE;
    border: #7DFDC7;
    font-weight: bolder;
}

.arraia {
    margin-top: 20px;
    width: 191.38px;
    height: 50.7px;
    border-radius: 100px;
    background-color: white;
    color: var(--azul);
    border: 4px solid var(--azul);
    font-weight: bolder;
    display: inline-flex;
    align-items: center;
}

.arraia>img {
    margin-left: 20%;
}

.bom {
    text-align: center;
    margin-top: 150px;
}

.bom>p {
    font-size: 32.88px;
    font-weight: 600;
    line-height: 34.69px;
    letter-spacing: -0.02em;
    text-align: center;
}

.bom>p>span {
    font-size: 32.88px;
    font-weight: 800;
    line-height: 34.69px;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--azul);
}

.slider {
    position: relative;
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
}

.slides {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* Remove esta linha */
}

.slide {
    display: none;
    width: auto;
    /* Mantenha o tamanho original */
    max-width: 100%;
    /* Adapte ao contêiner */
}

.slide img {
    width: auto;
    /* Mantenha o tamanho original */
    max-width: 100%;
    /* Adapte ao contêiner */
    height: auto;
    /* Mantenha o tamanho original */
    vertical-align: middle;
    border-radius: 20px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.568);
}

.sli {
    width: 349px;
    height: 200px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.199);
    border-radius: 20px;
    background-color: white;
    padding: 10px;
}

.sli h2 {
    text-align: center;
    font-size: 13.21px;
    font-weight: 700;
    line-height: 16.1px;
    text-align: left;
}

.sli p {
    font-size: 12.01px;
    font-weight: 400;
    line-height: 14.53px;
    margin-left: 20px;
    text-align: justify;
}

.sli span {
    font-size: 9.02px;
    font-weight: 400;
    line-height: 10.91px;
    text-align: left;
    margin-left: 10px;
    color: #808080;
}

.sli img {
    border-radius: 100px;
    margin: 20px;
}


.active {
    display: block;
}

.slide h1 {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 16px;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    margin-top: -30px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    background-color: rgba(128, 128, 128, 0.11);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.reserve#centro {
    margin-left: 25%;
    margin-bottom: 50px;
    margin-top: 40px;
}

iframe {
    width: 100vw;
    padding-bottom: 100px;
}

div.comentarios {
    text-align: center;
    margin-top: 40px;
    width: 310px;
    margin: auto;
}

div.comentarios>span {
    color: var(--azul);
    font-size: 24px;
    font-weight: 800;
    line-height: 31.2px;
    letter-spacing: -0.02em;
}

div.comentarios>p {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.3px;
    text-align: center;
}

div#slider2 {
    padding-bottom: 100px;
}

div.slider#slider3 img {
    margin-left: 10%;
    padding-bottom: 100px;
}

.off {
    width: 258px;
    height: 606px;
    border-radius: 10px;
}

.off p#icons{
    background-color: white;
    border-radius: 100px;
    padding: 5px;
}

.off>p#icons>img{
    padding-bottom: 0;
    box-shadow: 0 0 0;
}


div#perguntas {
    text-align: center;
    margin-top: 60px;
}

div#perguntas h1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: center;
}

div#perguntas>aside.pergunta {
    display: inline-flex;
    margin-top: 40px;
    width: 310px;
    height: 69.74px;
    align-items: center;
    border-radius: 6.64px;
    box-shadow: 4px 4px 4px black;
}

div#perguntas>aside.pergunta>h2 {
    font-size: 15.94px;
    font-weight: 700;
    line-height: 19.92px;
    text-align: left;
    color: var(--azul);
    margin-left: 25px;
}

div#perguntas>aside.pergunta>img {
    margin-left: 50%;
}

div#perguntas>aside.pergunta>p {
    display: none;
}

footer {
    /* background-color: var(--azul); */
    margin-top: 180px;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    color: white;
}

footer>img#village {
    margin-bottom: 20px;
}

footer>div#contato {
    border-bottom: 2px solid var(--verde);
    width: 272px;
    margin: auto;
    padding-bottom: 20px;
}

footer>div#contato>img {
    padding: 10px;
}

footer>div#email {
    margin-top: 30px;
    margin-bottom: 30px;
}

footer>div#email>input {
    border-radius: 30px;
    padding: 8px;
}

footer>div#email>input#email {
    width: 270px;
    border: 1px solid white;
}

footer>div#email>input#enviar {
    margin-left: -100px;
    background-color: var(--verde);
    border: 1px solid var(--verde);
    color: var(--azul);
    font-weight: bold;
    padding: 8px 30px;
}

footer>h1 {
    font-size: 20px;
    font-weight: 800;
    line-height: 21.76px;
    text-decoration: underline;
    padding-top: 50px;
    padding-bottom: 20px;
}

footer>p {
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
}

footer>p#cep {
    width: 280px;
    margin: auto;
    line-height: 20px;
}